<div class="text-gray-700">
  <!-- Component Start -->
  <div class="flex flex-grow w-screen h-screen overflow-auto">
    <div class="flex flex-col flex-grow">
      <div class="flex items-center mt-4">
        <h2 class="ml-2 text-xl font-bold leading-none dark:text-white">
          December, 2022
        </h2>
      </div>
      <div class="grid grid-cols-7 mt-4">
        <div class="pl-1 text-sm dark:text-white">Mon</div>
        <div class="pl-1 text-sm dark:text-white">Tue</div>
        <div class="pl-1 text-sm dark:text-white">Wed</div>
        <div class="pl-1 text-sm dark:text-white">Thu</div>
        <div class="pl-1 text-sm dark:text-white">Fri</div>
        <div class="pl-1 text-sm dark:text-white">Sat</div>
        <div class="pl-1 text-sm dark:text-white">Sun</div>
      </div>
      <div
        class="grid flex-grow w-full h-auto grid-cols-7 grid-rows-5 gap-px pt-px mt-1 bg-gray-200 dark:text-white dark:bg-gray-900"
      >
        <div></div>
        <div></div>
        <div></div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="1"
        >
          <span class="mx-2 my-1 text-xs font-bold">1</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="2"
        >
          <span class="mx-2 my-1 text-xs font-bold">2</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="3"
        >
          <span class="mx-2 my-1 text-xs font-bold">3</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="4"
        >
          <span class="mx-2 my-1 text-xs font-bold">4</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="5"
        >
          <span class="mx-2 my-1 text-xs font-bold">5</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="6"
        >
          <span class="mx-2 my-1 text-xs font-bold">6</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="7"
        >
          <span class="mx-2 my-1 text-xs font-bold">7</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="8"
        >
          <span class="mx-2 my-1 text-xs font-bold">8</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="9"
        >
          <span class="mx-2 my-1 text-xs font-bold">9</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="10"
        >
          <span class="mx-2 my-1 text-xs font-bold">10</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="11"
        >
          <span class="mx-2 my-1 text-xs font-bold">11</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="12"
        >
          <span class="mx-2 my-1 text-xs font-bold">12</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="13"
        >
          <span class="mx-2 my-1 text-xs font-bold">13</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="14"
        >
          <span class="mx-2 my-1 text-xs font-bold">14</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="15"
        >
          <span class="mx-2 my-1 text-xs font-bold">15</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-green-300 dark:bg-green-800 group"
          id="16"
        >
          <span class="mx-2 my-1 text-xs font-bold">16</span>
          <div class="flex flex-col px-1 py-1 overflow-auto">
            <div
              class="flex items-center flex-shrink-0 h-5 px-1 text-xs hover:bg-gray-200"
            >
              <span
                class="flex-shrink-0 w-2 h-2 border border-gray-500 rounded-full"
              ></span>
              <span class="ml-2 font-light leading-none">8:30am</span>
              <span class="ml-2 font-medium leading-none truncate">Today</span>
            </div>
          </div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="17"
        >
          <span class="mx-2 my-1 text-xs font-bold">17</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="18"
        >
          <span class="mx-2 my-1 text-xs font-bold">18</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="19"
        >
          <span class="mx-2 my-1 text-xs font-bold">19</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="20"
        >
          <span class="mx-2 my-1 text-xs font-bold">20</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="21"
        >
          <span class="mx-2 my-1 text-xs font-bold">21</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="22"
        >
          <span class="mx-2 my-1 text-xs font-bold">22</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="23"
        >
          <span class="mx-2 my-1 text-xs font-bold">23</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="24"
        >
          <span class="mx-2 my-1 text-xs font-bold">24</span>
          <div class="flex flex-col px-1 py-1 overflow-auto">
            <div
              class="flex items-center flex-shrink-0 h-5 px-1 text-xs hover:bg-gray-200"
            >
              <span
                class="flex-shrink-0 w-2 h-2 border border-gray-500 rounded-full"
              ></span>
              <span class="ml-2 font-light leading-none">8:30am</span>
              <span class="ml-2 font-medium leading-none truncate"
                >Chrismas</span
              >
            </div>
          </div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="25"
        >
          <span class="mx-2 my-1 text-xs font-bold">25</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="26"
        >
          <span class="mx-2 my-1 text-xs font-bold">26</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="27"
        >
          <span class="mx-2 my-1 text-xs font-bold">27</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>

        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="28"
        >
          <span class="mx-2 my-1 text-xs font-bold">28</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>
        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="29"
        >
          <span class="mx-2 my-1 text-xs font-bold">29</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>
        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="30"
        >
          <span class="mx-2 my-1 text-xs font-bold">30</span>
          <div class="flex flex-col px-1 py-1 overflow-auto"></div>
        </div>
        <div
          class="relative flex flex-col bg-white dark:bg-gray-700 group"
          id="31"
        >
          <span class="mx-2 my-1 text-xs font-bold">31</span>
          <div class="flex flex-col px-1 py-1 overflow-auto">
            <div
              class="flex items-center flex-shrink-0 h-5 px-1 text-xs hover:bg-gray-200"
            >
              <span
                class="flex-shrink-0 w-2 h-2 border border-gray-500 rounded-full"
              ></span>
              <span class="ml-2 font-light leading-none">8:30am</span>
              <span class="ml-2 font-medium leading-none truncate"
                >Silvester</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Component End  -->
</div>
