<div class="">
  <!-- Add New Event Components -->
  <div>
    <div
      [ngClass]="
        add
          ? 'hidden'
          : 'absolute my-4 z-40 w-full h-full bg-white/75 dark:bg-black/75'
      "
    >
      <div
        class="flex items-center justify-center w-12 h-12 ml-12 text-white bg-blue-400 rounded-full hover:bg-sky-700 dark:hover:bg-gray-900 dark:bg-blue-700"
      >
        <button (click)="add = !add">
          <div class="flex items-center justify-center h-12">
            <mat-icon>clear</mat-icon>
          </div>
        </button>
      </div>
      <div class="opacity-100">
        <app-event-form (createEvent)="addEvent($event)"></app-event-form>
      </div>
    </div>
    <button
      (click)="add = !add"
      class="flex items-center justify-center w-12 h-12 mt-3 ml-12 text-white duration-75 bg-blue-400 rounded-full hover:bg-sky-700 dark:hover:bg-gray-900 dark:bg-blue-700"
    >
      <div class="flex items-center justify-center h-12">
        <mat-icon>add</mat-icon>
      </div>
    </button>
  </div>

  <table class="flex items-center content-center justify-center w-full">
    <tbody
      class="grid content-center w-full gap-1 xl:grid-cols-4 md:grid-cols-3 lg:grid-cols-4 sm:grid-cols-1 sm:content-center"
    >
      <tr
        *ngFor="let event of events; trackBy: trackEvent"
        class="2xl:w-[400px] 2xl:h-[540px] flex justify-center 2xl:mt-6 xl:w-[300px] xl:h-[480px] xl:mt-4 xl:mb-2 md:w-[250px] md:h-[380px] md:mt-4 md:m-3 md:mb-2x sm:w-[250px] sm:h-[380px] w-[300px] h-[440px]"
      >
        <!-- Event tile -->
        <div
          class="flex 2xl:h-[480px] xl:h-[460px] lg:h-[380px] md:h-[380px] sm:h-[480px] p-12 duration-300 bg-white shadow-2xl w-[350px] rounded-xl hover:scale-105 dark:bg-gray-800 dark:text-white"
        >
          <div>
            <a [routerLink]="['/info/' + event.id]">
              <div class="pb-3">
                <td
                  class="text-2xl xl:text-xl md:text-xl sm:text-2xl lg:text-xl"
                >
                  {{ event.title }}
                </td>
              </div>
              <div class="pb-1">
                <td class="xl:text-sm md:text-xs sm:text-sm lg:text-xs">
                  {{ event.date | date : "short" }}
                </td>
              </div>

              <div>
                <td class="shadow-lg">
                  <img
                    class="xl:h-[250px] xl:w-[250px] sm:h-[200px] sm:w-[200px] md:h-[150px] md:w-[150px] lg:h-[150px] lg:w-[150px]"
                    src="{{
                      event.image
                        | noImage : '../assets/img/CatWithGlasses.jpeg'
                    }}"
                    alt="{{ event.title }}"
                  />
                </td>
              </div>

              <div>
                <td
                  class="text-lg text-gray-500 capitalize xl:text-lg md:text-base sm:text-lg lg:text-base"
                >
                  {{ event.location }}
                </td>
              </div>
            </a>
            <div
              (click)="toogleUserLikedEvent(event)"
              [ngClass]="{
                'flex float-right  dark:text-white text-black': !event.isLiked,
                'flex float-right  dark:text-blue-600 text-blue-300':
                  event.isLiked
              }"
              class="justify-self-center"
            >
              <td
                class="flex float-right text-xl xl:text-xl md:text-lg sm:text-xl lg:text-lg"
              >
                {{ event.likes }}
                <mat-icon (click)="likeEvent(event)">thumb_up</mat-icon>
              </td>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
