<div class="flex items-center content-center justify-center">
  <div
    class="flex items-center content-center justify-center h-[550px] p-12 duration-300 bg-white shadow-2xl w-[350px] rounded-xl dark:bg-slate-600"
  >
    <form
      #eventForm="ngForm"
      name="eventForm"
      (ngSubmit)="!editMode ? add() : update(editableEvent); eventForm.reset()"
    >
      <label
        >Title:
        <input
          type="text"
          required
          name="title"
          #title="ngModel"
          [(ngModel)]="event.title"
          class="flex px-[13px] py-3 border-[1.5px] border-blue-400 rounded-lg border-solid placeholder-blue-400 w-full dark:text-black"
        />
      </label>
      <label
        >Description:
        <textarea
          type="text"
          name="Description"
          #description="ngModel"
          [(ngModel)]="event.description"
          class="flex px-[13px] py-3 border-[1.5px] border-blue-400 rounded-lg border-solid placeholder-blue-400 w-full dark:text-black"
        ></textarea>
      </label>
      <label
        >Location:
        <input
          type="text"
          name="Location"
          #location="ngModel"
          [(ngModel)]="event.location"
          class="flex px-[13px] py-3 border-[1.5px] border-blue-400 rounded-lg border-solid placeholder-blue-400 w-full dark:text-black"
        />
      </label>

      <label
        >Date:
        <input
          type="date"
          name="date"
          #date="ngModel"
          [(ngModel)]="event.date"
          class="flex px-[13px] py-3 border-[1.5px] border-blue-400 rounded-lg border-solid placeholder-blue-400 w-full dark:text-black"
        />
      </label>
      <label>Img: </label>
      <div>
        <img
          src="{{ image | noImage : '../assets/img/uploadimg.png' }}"
          appDragAndDrop
          (onDropped)="onDrop($event)"
        />
      </div>
      <button
        type="submit"
        [disabled]="!eventForm.form.valid"
        class="flex justify-center bg-blue-400 rounded-lg m-4 w-[130px] h-7 text-white hover:bg-sky-700"
      >
        <div *ngIf="editMode">Update event</div>
        <div *ngIf="!editMode">Add event</div>
      </button>
      <div class="text-red-500">
        <div
          *ngIf="!(title.valid || title.pristine)"
          class="alert alert-danger"
        >
          <div *ngIf="title.errors?.['required']">Title cannot be empty!</div>
        </div>
      </div>
    </form>
  </div>
</div>
