<div class="flex items-center justify-center min-h-screen">
  <div class="justify-center h-auto p-12 shadow-2xl w-96 rounded-xl">
    <div>
      <h1
        class="flex text-[56px] leading-[64px] font-medium text-[#7f8a9B] align-middle mb-7 justify-center"
      >
        Create an Account
      </h1>
      <div action="">
        <div class="my-5">
          <label
            class="flex flex-row h-4 gap-3 p-0 my-1 text-xs font-normal text-blue-400 w-60"
          >
            E-Mail
          </label>
          <input
            class="flex px-[13px] py-3 border-[1.5px] border-blue-400 rounded-lg border-solid placeholder-blue-400 w-full"
            type="text"
            placeholder="E-Mail"
            #userEmail
          />
        </div>
        <div class="my-5">
          <label
            class="flex flex-row h-4 gap-3 p-0 my-1 text-xs font-normal text-blue-400 w-60"
          >
            Name
          </label>
          <input
            class="flex px-[13px] py-3 border-[1.5px] border-blue-400 rounded-lg border-solid placeholder-blue-400 w-full"
            type="text"
            placeholder="First Name"
            #displayName
          />
        </div>

        <div class="my-5">
          <label
            class="flex flex-row h-4 gap-3 p-0 my-1 text-xs font-normal text-blue-400 w-60"
          >
            Password
          </label>
          <input
            class="flex px-[13px] py-3 border-[1.5px] border-blue-400 rounded-lg border-solid placeholder-blue-400 w-full"
            type="password"
            placeholder="Password"
            #userPwd
          />
        </div>
        <div class="flex justify-center mt-8">
          <button
            class="px-6 pt-3 bg-blue-400 rounded-lg w-[130px] h-[48px] gap-2 justify-center flex flex-row text-white hover:bg-blue-500"
            type="submit"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          >
            Sign up
          </button>
        </div>
        <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i
              class="fab fa-google-plus-g px-6 pt-3 bg-blue-400 rounded-lg w-[130px] h-[48px] gap-2 justify-center flex flex-row text-white hover:bg-blue-500"
            ></i>
            Log in with Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
